
*.mp4
*.jpeg
*.jpg
*.gif
*.png
*.mp3
*.wav
Deep-Learning-Coursera-master/Convolutional Neural Networks/Week1/Convolution model - Application - v1.ipynb
Deep-Learning-Coursera-master/Convolutional Neural Networks/Week1/Convolution model - Step by Step - v2.ipynb
Deep-Learning-Coursera-master/Convolutional Neural Networks/Week2/ResNets/Residual Networks - v1.ipynb
Deep-Learning-Coursera-master/Convolutional Neural Networks/Week3/Car detection for Autonomous Driving/Autonomous driving application - Car detection - v1.ipynb
Deep-Learning-Coursera-master/Convolutional Neural Networks/Week4/Face Recognition/Face Recognition for the Happy House - v2.ipynb
Deep-Learning-Coursera-master/Convolutional Neural Networks/Week4/Neural Style Transfer/Art Generation with Neural Style Transfer - v1.ipynb
Deep-Learning-Coursera-master/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Gradient Checking.ipynb
Deep-Learning-Coursera-master/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Initialization.ipynb
Deep-Learning-Coursera-master/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Optimization methods.ipynb
Deep-Learning-Coursera-master/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Regularization.ipynb
Deep-Learning-Coursera-master/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Tensorflow Tutorial.ipynb
Deep-Learning-Coursera-master/Neural Networks and Deep Learning/Building your Deep Neural Network - Step by Step.ipynb
Deep-Learning-Coursera-master/Neural Networks and Deep Learning/Deep Neural Network - Application.ipynb
Deep-Learning-Coursera-master/Neural Networks and Deep Learning/Logistic Regression with a Neural Network mindset.ipynb
Deep-Learning-Coursera-master/Neural Networks and Deep Learning/Planar data classification with one hidden layer.ipynb
Deep-Learning-Coursera-master/README.md
Deep-Learning-Coursera-master/Sequence Models/Week1/Building a Recurrent Neural Network - Step by Step/Building a Recurrent Neural Network - Step by Step - v1.ipynb
Deep-Learning-Coursera-master/Sequence Models/Week1/Dinosaur Island -- Character-level language model/Dinosaurus Island -- Character level language model final - v3.ipynb
Deep-Learning-Coursera-master/Sequence Models/Week1/Jazz improvisation with LSTM/Jazz improvisation with LSTM - v1.ipynb
Deep-Learning-Coursera-master/Sequence Models/Week2/Emojify/Emojify - v2.ipynb
Deep-Learning-Coursera-master/Sequence Models/Week2/Word Vector Representation/Operations on word vectors - v2.ipynb
Deep-Learning-Coursera-master/Sequence Models/Week3/Machine Translation/Neural machine translation with attention - v2.ipynb
Deep-Learning-Coursera-master/Sequence Models/Week3/Trigger word detection/Trigger word detection - v1.ipynb
Deep-Learning-Coursera-master/Structuring Machine Learning Projects/Week 1 Quiz - Bird recognition in the city of Peacetopia (case study).md
Deep-Learning-Coursera-master/Structuring Machine Learning Projects/Week 2 Quiz - Autonomous driving (case study).md
deep-learning-coursera/Convolutional Neural Networks/Convolution model - Application - v1.ipynb
deep-learning-coursera/Convolutional Neural Networks/Convolution model - Step by Step - v1.ipynb
deep-learning-coursera/Convolutional Neural Networks/Keras - Tutorial - Happy House v1.ipynb
deep-learning-coursera/Convolutional Neural Networks/Residual Networks - v1.ipynb
deep-learning-coursera/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Gradient Checking.ipynb
deep-learning-coursera/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Initialization.ipynb
deep-learning-coursera/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Optimization methods.ipynb
deep-learning-coursera/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Regularization.ipynb
deep-learning-coursera/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Tensorflow Tutorial.ipynb
deep-learning-coursera/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Week 1 Quiz - Practical aspects of deep learning.md
deep-learning-coursera/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Week 2 Quiz - Optimization algorithms.md
deep-learning-coursera/Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Week 3 Quiz - Hyperparameter tuning, Batch Normalization, Programming Frameworks.md
deep-learning-coursera/LICENSE
deep-learning-coursera/Neural Networks and Deep Learning/Building your Deep Neural Network - Step by Step.ipynb
deep-learning-coursera/Neural Networks and Deep Learning/Deep Neural Network - Application.ipynb
deep-learning-coursera/Neural Networks and Deep Learning/Logistic Regression with a Neural Network mindset.ipynb
deep-learning-coursera/Neural Networks and Deep Learning/Planar data classification with one hidden layer.ipynb
deep-learning-coursera/Neural Networks and Deep Learning/Week 1 Quiz - Introduction to deep learning.md
deep-learning-coursera/Neural Networks and Deep Learning/Week 2 Quiz - Neural Network Basics.md
deep-learning-coursera/Neural Networks and Deep Learning/Week 3 Quiz - Shallow Neural Networks.md
deep-learning-coursera/Neural Networks and Deep Learning/Week 4 Quiz - Key concepts on Deep Neural Networks.md
deep-learning-coursera/README.md
deep-learning-coursera/Sequence Models/Building a Recurrent Neural Network - Step by Step - v2.ipynb
deep-learning-coursera/Sequence Models/Dinosaurus Island -- Character level language model final - v3.ipynb
deep-learning-coursera/Sequence Models/Emojify - v2.ipynb
deep-learning-coursera/Sequence Models/Improvise a Jazz Solo with an LSTM Network - v1.ipynb
deep-learning-coursera/Sequence Models/Neural machine translation with attention - v2.ipynb
deep-learning-coursera/Sequence Models/Operations on word vectors - v2.ipynb
deep-learning-coursera/Sequence Models/rnn_utils.py
deep-learning-coursera/Sequence Models/Trigger word detection - v1.ipynb
deep-learning-coursera/Structuring Machine Learning Projects/Week 1 Quiz - Bird recognition in the city of Peacetopia (case study).md
deep-learning-coursera/Structuring Machine Learning Projects/Week 2 Quiz - Autonomous driving (case study).md
